
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    margin-top: 1rem;
    color: white;
}
.main-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:#34344A;
    height: 20vh;
    width: 50rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.inner-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.timer-values{
    display: flex;
    align-items: center;
    
}
.timer-values>div{
 
   margin: 1rem;
}
input{
    height: 50px;
    width: fit-content;
    max-width: 80px;
    background-color: #34344A;
    color: white;
    border: none;
    font-size: 40px;
}
button{
    background-color: #F0F757;
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor:pointer;
    transition: transform 0.3s ease-in-out;

}
button:hover{
    transform: scale(1.1);
}
.current-timer{
    width: 15%;
    margin-top: 2rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.inner{
    width: 25rem;
    background-color: #39393E;
    height: 5rem;
    color:white;
    text-align: center;
    padding-top: 1.5rem;
    border-radius: 15px;
}
.active-timers{
    margin-top: 2rem;
}
.no-timer-text{
    color: white;
    font-size: 24px;

}
/*      */

#startTimer{
    background: rgb(1, 192, 1) ;
    border: none;
    color: #fff !important;
    font-size: 18px!important;
    padding: 5px  40px!important;
    border-radius: 100px;
    cursor: pointer;
    height: 5vh;
}

#startTimer:hover{
    background:#079309;
}

#para{
    display: flex;
    justify-content: space-between;
    float: left;
}



.timer-container {
    width: 40rem;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color:  #34344A;
    color: white;
}

.timer {
    font-size: 24px;
}

.timer-ended {
    color: #F0F757;
}

.time-left {
    font-size: 18px;
    margin-right: 10px;
}

.timer-controls {
    display: flex;
    justify-content: center;
}

.control-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.stop-button {
    background-color: #F0F757;
    font-weight: 700;
    font-size: 16px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.stop-button:hover {
    transform: scale(1.1);
    
}

.delete-button {
    background-color: #F0F757;
    font-weight: 700;
    font-size: 16px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}


.delete-button:hover {
    transform: scale(1.1);

}